:root {
  --secondary-color: #024e76;
  --header-color: dimgray;
  --alt-text-bg-color: burlywood;
  --work-items-sm-flex-basis: 49%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px 0;
}

.photo {
  background-image: url(../images/Rob.jpg);
  background-size: 100%;
  height: 85px;
  width: 100px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.name {
  display: flex;
  justify-content: flex-end;
  background: var(--alt-text-bg-color);
  color: var(--header-color);
  padding: 10px 5px 10px 80px;
  font-size: 55px;
  /* flex: 1 -1 15% ; */
}

header a {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 45px;
}

header .nav {
  flex-basis: 70%;
}

header .nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

header .nav ul li {
  margin: 0px 25px;
}

/* end header footer */

/* Hero section */

.hero {
  display: flex;
  height: 250px;
  justify-content: flex-end;
  flex-flow: wrap-reverse;
  padding: 0 60px 25px 0;
  background-image: url(../images/comfort-zone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.subtitle {
  display: flex;
  Height: 65px;
  width: auto;
  padding: 10px;
  color: var(--secondary-color);
  background: var(--alt-text-bg-color);
  align-items: center;
  }

.subtitle h2 {
  font-size: 25px;
}

/* End hero section */

/* aside */

.content-titles {
  flex-basis: 10%;
  color: var(--alt-text-bg-color);
  font-size: 25px;
  padding-right: 15px;
  text-align: right;
}

.about-me, .work, .footerNav {
  display: flex;
  padding: 15px;
}

/* end aside */

/* work sections */

/* Common styles */

.work-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: solid var(--alt-text-bg-color);
  flex: 1 100%;
  padding-left: 25px;
}

.work-section a {
  display: flex;
  flex: 2 48%;
  text-decoration: none;
}

.me, .contact-list {
  border-left: solid var(--alt-text-bg-color);
  padding-left: 25px;
  flex-basis: 92%;
  color: var(--secondary-color);
  font-size: 20px;
}

.work-item {
  display: flex;
  width: 100%;
  height: 450px;
  border: solid var(--alt-text-bg-color);
  align-items: flex-end;
  padding-bottom: 15px;
  background-size: cover;
  background-position-y: top;
  opacity: 65%;
  margin: 10px 10px;
}

.work-item:hover {
  opacity: 100%;
  border-top-left-radius: 75px;
}

.work-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--alt-text-bg-color);
  width: 200px;
  height: 85px;
  padding: 25px;
  color: var(--secondary-color);
}

/* format items and add photos */

.work-section a:nth-child(1) {
  flex: 1 100%;
}

#work1 {
  background-image: url(../images/CanICamp.jpeg);
  height: 650px;
}

#work2 {
  background-image: url(../images/BottegeHTMLCSS.JPG);
}

#work3 {
  background-image: url(../images/robot-gladiators.JPG);
}

#work4 {
  background-image: url(../images/MyBands.JPG);
}

#work5 {
  background-image: url(../images/PwrPlus.JPG);
}

#work6 {
  background-image: url(../images/NorlakeMfg.JPG);
}

#work7 {
  background-image: url(../images/KalronLLC.JPG);
}

/* Footer styles */

footer {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px;
}

footer a, footer li {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 30px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.contact-list {
  justify-content: space-evenly;
}

/* end footer styles */

/* utilities */

.right-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 1070px) {
  header, footer, .about-me, .work, footer ul {
    flex-direction: column;
    align-items: center;
  }
  header {
    padding: 0;
  }
  .name, .nav a, .contact-list a, .contact-list li, .footerNav h3 {
    font-size: 25px;
  }
  .name {
    padding: 10px 5px 10px 0px;
  }
  .content-titles {
    flex-basis: 20%;
  }
  .photo {
    background-image: none;
    height: 0;
    width: 0;
  }
  .contact-list {
    border-left: none;
    padding-left: 0;
  }
  .footerNav a {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .name, .nav a, .contact-list a, .contact-list li, .footerNav h3, .subtitle h2 {
    font-size: 15px;
  }
  footer, footer ul, header, header ul {
    flex-direction: row;
  }
  header {
    padding: 0;
  }
}