:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --header-color: dimgray;
  --alt-text-bg-color: burlywood;
  --work-items-sm-flex-basis: 49%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 99;  
  padding: 15px 0;
}

.photo {
  background-image: url(../images/Rob.jpg);
  background-color: violet;
  background-size: 100%;
  height: 85px;
  width: 100px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.name {
  background: var(--alt-text-bg-color);
  color: var(--header-color);
  padding: 10px 5px 10px 75px;
  font-size: 45px;
  text-align: right;
  /* width: 50%; */
}

header a {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 30px;
}

header .nav {
  flex-basis: 70%;
}

header .nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  height: auto;
  align-items: center;
  /* align-content: center; */
}
header .nav ul li {
  margin: 0px 25px;
  align-items: center;
}
/* end header footer */

/* Hero section */

.hero {
  display: flex;
  height: 250px;
  justify-content: flex-end;
  flex-flow: wrap-reverse;
  padding: 0 60px 25px 0;
  background-image: url(../images/comfort-zone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.subtitle {
  display: flex;
  Height: 65px;
  width: auto;
  padding: 10px;
  color: var(--header-color);
  background: var(--alt-text-bg-color);
  align-items: center;
}

.subtitle h2 {
  font-size: 25px;
}

/* End hero section */

/* aside */

.content-titles {
  flex-basis: 10%;
  color: var(--alt-text-bg-color);
  font-size: 25px;
  padding-right: 15px;
  text-align: right;
}

.about-me, .work, .footerNav {
  display: flex;
  padding: 15px;
}

/* end aside */

/* work sections */

/* Common styles */

.work-section {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  border-left: solid var(--alt-text-bg-color);
  width: 75%;
  padding-left: 25px;
}

.work-section a {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.me, .contact-list {
  border-left: solid var(--alt-text-bg-color);
  padding-left: 25px;
  flex-basis: 92%;
}

.work-item {
  display: flex;
  width: 100%;
  height: 450px;
  border: solid var(--primary-color);
  align-items: flex-end;
  padding-bottom: 15px;
  background-image: url(../images/run-buddy.JPG);
  background-size: cover;
  background-position-y: top;
  opacity: 75%;
  margin: 10px 0;
}

.work-item:hover {
  opacity: 100%;
  border-top-left-radius: 175px;
  border-bottom-right-radius: 175px;
  height: 750px;
}

.work-section {
  display: block;
  width: 100%;
}

.work-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 200px;
  height: 85px;
  padding: 25px;
  color: var(--secondary-color);
}

/* Footer styles */

footer {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px;
}

footer a, footer li {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 30px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.contact-list {
  justify-content: space-evenly;
  /* padding-top: 1%;
  padding-bottom: 1%;
  width: 100%; */
}

/* end footer styles */

/* utilities */

.right-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px ;
}

@media(min-width:768px) {}