:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --header-color: dimgray;
  --alt-text-bg-color: burlywood;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.name {
  display: flex;
  background: var(--alt-text-bg-color);
  color: var(--header-color);
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5px 10px 75px;
  height: auto;
  font-size: 55px;
}

header a {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 25px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  width: 650px;
  height: auto;
  align-content: center;
}

.hero {
  display: flex;
  height: 250px;
  justify-content: flex-end;
  flex-flow: wrap-reverse;
  padding: 0 60px 25px 0;
  background-image: url(../images/comfort-zone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top ;
}

.subtitle {
  display: flex;
  Height: 65px;
  width: auto;
  padding: 10px;
  color: var(--header-color);
  background: var(--alt-text-bg-color);
  align-items: center;
}

.subtitle h2 {
  font-size: 25px;
  font-stretch: semi-expanded;
}