:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --header-color: dimgray;
  --alt-text-bg-color: burlywood;
  --work-items-sm-flex-basis: 49%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  position: sticky;
  top: 0;
  padding: 15px 0;
}

.photo {
  background-image: url(../images/Rob.jpg);
  background-size: cover;
  width: 10px;
}

.name {
  background: var(--alt-text-bg-color);
  color: var(--header-color);
  padding: 10px 5px 10px 75px;
  font-size: 55px;
  text-align: right;
  flex-basis: 35%;
}

header a {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 30px;
}

header .nav {
  flex-basis: 70%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  height: auto;
  align-content: center;
}

/* end header footer */

/* Hero section */

.hero {
  display: flex;
  height: 250px;
  justify-content: flex-end;
  flex-flow: wrap-reverse;
  padding: 0 60px 25px 0;
  background-image: url(../images/comfort-zone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.subtitle {
  display: flex;
  Height: 65px;
  width: auto;
  padding: 10px;
  color: var(--header-color);
  background: var(--alt-text-bg-color);
  align-items: center;
}

.subtitle h2 {
  font-size: 25px;
}

/* End hero section */

/* work sections */

.content-titles {
  flex-basis: 15%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  color: var(--alt-text-bg-color);
  font-size: 35px;
  align-content: flex-start;
  justify-content: flex-end;
  padding-right: 15px;
  text-align: right;
}

.content-titles h3 {
  flex-basis: 15%;
}
.about-me,  .contact-list {
  display: flex;
  height: 25%;
  padding: 15px;
}

.work {
  display: flex;
  padding: 15px;
}

.work-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: solid var(--alt-text-bg-color);
  width: 75%;
  padding-left: 25px;
}

.me, .contact-list {
  border-left: solid var(--alt-text-bg-color);
  padding-left: 25px;
  width: 75%;
}

.work-item-1 {
  flex-basis: 100%;
  border: solid var(--primary-color);
  margin: 10px 0;
}

.linkedImage { 
  display:inline-block;
  
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  border: none;
  background: url(../images/Rob.jpg) no-repeat;
  background-size: 100%;
  width: 250px;
  height: 250px;
}     

.work-item-2 {
  flex-basis: var(--work-items-sm-flex-basis);
  background-image: url(../images/Rob.jpg);
  background-size: cover;
  border: solid var(--primary-color);
  margin: 10px 0;
}

.work-item-3 {
  flex-basis: var(--work-items-sm-flex-basis);
  border: solid var(--primary-color);
  margin: 10px 0;
}

.work-item-4 {
  flex-basis: var(--work-items-sm-flex-basis);
  border: solid var(--primary-color);
  margin: 10px 0;
}

.work-item-5 {
  flex-basis: var(--work-items-sm-flex-basis);
  border: solid var(--primary-color);
  margin: 10px 0;
}

.work-flex {
  display: flex;
  height: 650px;
  padding-bottom: 15px;
  align-items: flex-end;
}

.work-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 200px;
  height: 85px;
  padding: 25px;
}

/* Footer styles */

footer {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px;
}

footer a, footer li {
  text-decoration: none;
  color: var(--alt-text-bg-color);
  font-size: 30px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
}

.contact-list {
  justify-content:space-evenly;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* end footer styles */

/* utilities */

.right-radius {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media(min-width:768px) {

}